build/
dist/
func/

__pycache__

*.exe
*.pyc
*.json
*.log
*.db
*.db-shm
*.db-wal

CRID.txt
VSID.txt
List.txt
VSList.txt
loginID.txt
Phonelist.txt
SMStext.txt
sys/error_log.txt
sys/log.txt